<thread-manager>
	<task>
		<interval>01:00:00</interval>
		<thread.action action=replace />
		<work.load type=increase bounds=10 action=add />
		<work.load type=decrease bounds=2  action=sub />
		<schedule start=2006-08-23_12:00:00 repeat=false />
	</task>
	
	<task>
		<interval>01:00:00</interval>
		<thread.action>
			<action>replace</action>
		</thread.action>	
		<work.load>
			<type>increase</type>
			<bounds>10</bounds>
			<action>add</action>
		</work.load>
		<work.load>
			<type>decrease</type>
			<bounds>2</bounds>
			<action>sub</action>
		</work.load>
		<schedule>
			<start>2006-08-23_12:00:00</start>
			<repeat>false</repeat>
		</schedule>
	</task>
</thread-manager>